<h2>Task List</h2>
<h2>List Of all notes</h2>


<form class="form-inline" method="post" action="filter">
  <div class="form-group mb-2">
    <select class="form-control" id="membername" name="membername">
      <option value="">(Select Member name)</option>
      <option value="Bob">Bob</option>
      <option value="Pingu">Pingu</option>
      <option value="Tingu">Tingu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>
<br> 
{{# each tasks }}
<div class="col-md-12 column list-group" style="border: 1px solid rgba(0,0,0,.125);padding:5px">
  <div>Name
    <strong>{{ this.name }}</strong>
  </div>
  <div> Task Name
    <strong>{{ this.taskName }} </strong>
  </div>
  <div>
    <b>Task Details: </b> {{ this.taskDetails }}</div>
  <div>
    <b>working: </b> {{ this.working }}</div>
</div>
{{/each}}